<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<head>
    <meta charset="UTF-8">
    <title>Lyrics Recognition</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
</head>
<body>
<h1>Audio Upload</h1>
<form method="POST" action="" enctype="multipart/form-data">
    <p><input type="file" name="file" multiple></p>
    <p><input type="submit" value="Submit"></p>
</form>
<pre>{{ message }}</pre>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>#}
</body>
</html>
